:root {
	/* light, use dark text  */
	--ambrosia:						#FCDBBA;
	--banana:							#FEE694;
	--blue-tack: 					#82BFE0;
	--bud:								#94C15C;
	--butter:							#F2C94C;
	--camo:								#AAA843;
	--cappuccino:					#C9B092;
	--champagne: 					#FCEBD5;
	--dusty-pink: 				#E4ADAD;
	--forget-me-not: 			#91A7FA;
	--ice:								#E1EFF8;
	--sun:								#FEC305;
	--grassy: 						#A8D363;
	--lemon:							#EAFC7E;
	--lime: 							#73D645;
	--limestone:					#C9C5B5;
	--melon:							#F2994A;
	--mink:								#E8C9A1;
	--spearmint:					#94E0CF;
	--mint:								#C4EA70;
	--mushroom:						#EDE8D5;
	--mustard:						#CC9E08;
	--pale-lemon:					#F4FFDC;
	--peach:							#FFB190;
	--petal:							#F4E9F3;
	--pebble:							#B8B4BE;
	--pink:								#FFC9D8;
	--posy:								#DED7EC;
	--powder-blue:				#B5D0E0;
	--powder-pink:				#FBD1D1;
	--primrose:						#E1F7B0;
	--robins-egg:					#B8DEE0;
	--sakura:							#FFE4E4;
	--salmon:							#FF7863;
	--sand:								#E1BE7C;
	--sea-glass:					#7FD1AE;
	--yellow:							#FFE03D;
    --white:                        #FFFFFF;
	
	/* medium, difficult the accessibility guys will hate use, maybe we can use text with shadow */
	
	--apricot: 						#FF8652;
	--blue-gray: 					#91A2C2;
	--blush: 							#D67B71;
	--bronze:							#C27940;
	--emerald: 						#55B95F;
	--lilac:							#8E8ADE;
	--hazelnut: 					#D08E5A;
	--sage:								#87A376;
	
	/* dark use light text */
	--rouge:							#CC3737;
	--punch:							#FF5563;
	--aubergine: 					#6A2352;
	--auburn: 						#A12F2F;
	--beetroot:						#7F0421;
	--berry:							#461234;
	--carmine:						#9A133E;
	--charcoal: 					#4F4450;
	--chestnut: 					#81291F;
	--chocolate: 					#8F5D38;
	--clay: 							#7D6050;
	--burnt-orange:				#FF5F00;
	--cerise:							#FF0F63;
	--coffee:    					#624739;
	--conker: 						#6F3131;
	--coral: 							#EB4444;
	--dusty-purple: 			#7D6391;
	--eucalyptus: 				#688461;
	--fern:								#4F8D08;
	--forest: 						#2E644A;
	--hot-pink:						#FF3263;
	--ink:								#292C31;
	
	--iron:								#6B5C6C;
	--lapis:							#2B4D8D;
	
	--leafy:							#318553;
	
	--magenta:						#BC2767;
	--meadow:							#7A9A3E;
	
	
	--midnight:						#1B3955;
	
	--moss:								#83A944;
	
	--navy:								#363A57;
	--ocean:							#206777;
	
	--orange:							#FD8A04;
	--orchid:							#7945BF;
	--pond-bottom:				#264A46;
	--purple:							#A95AF3;
	--purple-slate:				#545375;
	--rainforest:					#25422E;
	--raspberry-jam:			#3C0D2B;
	
	--royal:							#4169E1;
	--ruby:								#D1314B;
	--squash:							#E96310;
	--sea-foam:						#5D998B;
	--sea-fog:						#758C92;
	--slate:							#7184A5;
	--spice:							#B54E16;
	--spring:							#5ACB65;
  --teal:          			#29879C;
  --terracotta:    			#B76A61;
	--twilight:						#203763;
	--vavavoom:						#BF0D0D;
  --walnut:      				#381F19;
	

    --dove:            #c9c5cb;
    --cloud:             #F2EFE3;
    --fudge:            #C28742;
    --gray:           #98919F;
    --green:          #62B90A;
    --latte:          #A38468;
}